*{
    margin: 0px;
   padding: 0px;
    box-sizing: border-box;

   
    }
    
body{
    width: 100%;
    margin-top:0px;

    
    height: 100vh;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    }







    

    nav{
        padding: 0 50px;
        width: 100%;
        
        height: 100px;
    

    }
    
    .flex{
        display: flex;
        color: #fff;
         justify-content: space-between;
         align-items: center;
        }
        .navbar-one{
            background-color: #34a1eb;
            color: #fff;
            height: 40px;
            cursor: pointer;
    }
    .left > div + div{
        margin-left: 40px;
    }
    .right > div{
        margin-left: 40px;
    }
    .left > div:hover{
        color: rgb(17, 17, 17);
        transform: all 0.5s;
    }
    
    .right >div:hover{
        color: rgb(17, 17, 172);
        transform: all 0.5s;
    }
    .headernav1:hover{
        color: #e91e63;
    }

    span{
        margin-left: 5px;
    }

    .navbar-second{
        background-color: #ccc;
        font-weight: bold;  
        font-size: 25px;  
        height: 70px;

    }
    .logo{
        text-transform:uppercase;
        font-size:20px;
        cursor:pointer;
        color: #34a1eb;
    }

    li{
        list-style: none;
    }
    a{
        text-decoration: none;
        font-style:inherit;
        font-weight: bold;

        text-transform: capitalize;
        font-size: 30px;
        margin-left: 50px;
        color:#000
      
    }
    a:hover{
        color: #fff;
    }
    @media screen and (max-width: 768px){
        .main{
            width: 100px;
            display: block;
            margin: auto;
            padding-top: 100px;
           }
           }





    .main{
        width: 100%;
        background: linear-gradient(to top, rgba(183, 183, 218, 0.014)0%,rgba(39, 36, 44, 0.5)0%), url(images/home.jpg);
        background-size: cover;
        background-position: center;
        height: 100vh;
        }
.content{
    width: 1200px;
    height:auto;
    padding-left: 10px;
    margin: auto;
    color:#fff;
    font-weight: bold;
    position: relative;
}
.content .par{
    padding-left: 10px;
    padding-bottom: 25px;
    letter-spacing:1.2px;
    line-height: 30px;
}
.content h1{
    font-size: 40px;
    margin-top:9%;
    letter-spacing: 2px;
}
.content .cn{
    width: 150px;
    height: 40px;
    background: #e91e63;
    border: none;
    margin-bottom: 10px;
    margin-left: 10px;
    font-size: 18px;
    font-weight: bold;
    border-radius: 10px;
    cursor:pointer;
    transition: .4s ease;

}
.content .cn a{
    text-decoration: none;
    text-align: left;
    display: contents;
    color: #fff;
    transition: .3s ease;
}
.cn:hover{
    background-color: #fff;
}
.content span{
    color:#e91e63;
    font-size: 30px;

}


 .title h1{
text-align: center;
padding-top:30px ;
font-size: 42px;
 }   

 .title h1::after{
    content:"";
    height: 4px;
    width:30px;
    background-color: #16072b;
    display: block;
    margin: auto;
 }
 .service{
    width:85%;
    display: flex;
    justify-content: space-between;
    align-items:center;
    margin: 20px auto;
    text-align:center;
}

.card{
    width:100%;
    display:flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    margin: 0px 20px;
    padding: 20px 20px;
    background-color: #ccc;
    border-radius: 10px;
    cursor: pointer;
}
.card h2{
    font-size: 28px;
    color:#16072b;
    margin-bottom: 20px;
}
.card p{
    font-size: 17px;
    margin-bottom: 30px;
    line-height: 1.5;
    color:#16072b;
}
.button{
    font-size:15px;
    text-decoration: none;
    color: #16072b;
    background-color:#e91e63 ;
    padding: 8px 12px;
    padding-top: 0%;
    border-radius: 5px;
    letter-spacing: 1.5px;
}
.button:hover{
    background-color:#ffffff ;
    transition: 0.4s ease;
}
@media screen and (max-width:940px) {
    .service{
        display: flex;
        flex-direction: column;

    }  
    .card{
        width:85%;
        display: flex;
        margin: 20px 0px;

    }
}







.section1{
     width: 100%;
     min-height: 70vh;
     background-color: #ddd;
    
    }
    .title1{
         color: #34a1eb;
        }
        .container1{
         width:80%;
         display: block;
         margin: auto;
         padding-top: 70px;
         text-align: center;
        }
        .content-section1{
         float:left;
         width:55%;
        }

        .image-section1{
             float:right;
             width: 40%;
            }
            .image-section1 img{
             width: 100%;
            height: auto;
            }
            .content-section1 .title1{
                 text-transform: uppercase;
                 font-size: 28px;
                }
                .content-section1 .content1 h3{
                    margin-top: 20px;
                    color:#5d5d5d;
                    font-size: 19px;
                   }
                   .content-section1 .content1 p{
                     margin-top: 10px;
                     font-family: sans-serif;
                     font-size: 17px;
                     line-height: 1.5;
                    color: #16072b;
                   }
                   .content-section1 .content1 .button1 a{
                    font-size:15px;
                    text-decoration: none;
                    color: #16072b;
                    background-color:#e91e63 ;
                    padding: 8px 12px;
                    border-radius: 5px;
                    letter-spacing: 1px;
                    }
                    .content-section1 .content1 .button1{
                         margin-top: 30px;
                        }

                        .content-section1 .content1 .button1 a:hover{
                            background-color: #fff;
                            color: #16072b;

                            }

                            .content-section1 .social{
                                margin-top: 40px;
                                }
                                .content-section1 .social i{
                                 color:#e91e63;
                                 font-size: 20px;
                                 padding: 0px 10px;
                                }
                                .content-section1 .social i:hover{
                                 color: #16072b;
                                }

                                @media screen and (max-width: 768px){
                                 .container1{
                                     width: 100px;
                                     display: block;
                                     margin: auto;
                                     padding-top: 100px;
                                    }
                                    }






    .container{
        max-width: 1170px;
        margin:auto;
    }
    .row{
        display: flex;
        flex-wrap: wrap;
    }
    ul{
        list-style: none;
    }
    .footer{
        background-color: #34a1eb;
        padding: 70px 0;
    }
    .footer-col{
       width: 25%;
       padding: 0 15px;
    }
    .footer-col h4{
        font-size: 18px;
        color: #fff;
        text-transform: capitalize;
        margin-bottom: 35px;
        font-weight: 500;
        position: relative;
    }
    .footer-col h4::before{
        content: '';
        position: absolute;
        left:0;
        bottom: -10px;
        background-color: #e91e63;
        height: 2px;
        box-sizing: border-box;
        width: 50px;
    }
    .footer-col ul li:not(:last-child){
        margin-bottom: 10px;
    }
    .footer-col ul li a{
        font-size: 16px;
        text-transform: capitalize;
        color: #80c70f;
        text-decoration: none;
        font-weight: 300;
        color: #fff;
        display: block;
        transition: all 0.3s ease;
    }
    .footer-col ul li a:hover{
        color: #36188a;
        padding-left: 8px;
    }
    .footer-col .social-links a{
        display: inline-block;
        height: 40px;
        width: 40px;
        background-color: rgba(255,255,255,0.2);
        margin:0 10px 10px 0;
        text-align: center;
        line-height: 40px;
        border-radius: 50%;
        color: #fff;
        transition: all 0.5s ease;
    }
    .footer-col .social-links a:hover{
        color: #1f5bf1;
        background-color: #fff;
    }

    
    /*responsive*/
    @media(max-width: 767px){
      .footer-col{
        width: 50%;
        margin-bottom: 30px;
    }
    }
    @media(max-width: 574px){
      .footer-col{
        width: 100%;
    }
    }
    




